    body {
        background: #FFFFFF;
        color: #010508;
    }


    
    ol {
    /* убираем стандартную нумерацию */
    list-style: none;
    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
    counter-reset: li;
    }



    li:before {
    /* Определяем элемент, который будет нумероваться — li. Псевдоэлемент before указывает, что содержимое, вставляемое при помощи свойства content, будет располагаться перед пунктами списка. Здесь же устанавливается значение приращения счетчика (по умолчанию равно 1). */
    counter-increment: li;
    /* С помощью свойства content выводится номер пункта списка. counters() означает, что генерируемый текст представляет собой значения всех счетчиков с таким именем. Точка в кавычках добавляет разделяющую точку между цифрами, а точка с пробелом добавляется перед содержимым каждого пункта списка */
    content: counters(li, ".") ". ";
    }



    li {
    color: #333333;
    padding-bottom:7px;
    padding-right:10px;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size:16px
    }


    .container_path {
    margin-left: 30px; /* Задаем отступы для контейнера */
    }


    .special-link {
    color: #333; /* Цвет текста темно-серый */
    text-decoration: none; /* Убираем подчеркивание */
    margin-left: 10px; /* Отступ слева */
    margin-right: 10px; /* Отступ справа */
    font-size: 16px;
    font-weight: bold; /* Делаем шрифт жирным */
    }



    .special-link:visited {
    color: #333; /* Цвет текста темно-серый, если по ссылке уже кликали */
    }



    .special-link:hover {
    color: #007bff; /* Цвет текста темно-серый, если по ссылке уже кликали */
    }


    .special-link,
    .product_mane_advert {
    display: inline-block;
    }

    .horizontal-line {
    margin-top: 15px; /* Отступ сверху */
    border: 0.05px solid #f0f0f0; /* Цвет линии - светло-серый (#ccc) */
    margin-left: 30px; /* Отступы сверху и снизу линии */
    margin-right: 60px; /* Отступы сверху и снизу линии */
    margin-bottom: 20px; /* Отступ снизу */


    }